<h2>Bienvenido/a!</h2>

<p><a [routerLink]="['../home']" class="pinky">Tinta Virtual</a> es un proyecto innovador, basado en una tienda online
  de libros y desarollado en <a href="{{ urlIT }}" class="IT">IT Academy</a> para el curso de
  <span class="pinky">Front End Developer</span> usando las últimas tecnologías de
  <a href="{{ urlAngular }}" class="angular">Angular</a> cómo
  <a href="{{ urlCLI }}" class="angular">@Angular/Cli</a> o
  <a href="{{ urlMat }}" class="pinky">Angular 6 Material Design</a>. La idea es crear un sistema en el cuál podamos
  consultar un catálogo de libros, poder comprar y que las ventas queden registradas.
  Se podría decir que éste será el proyecto base o plantilla para futuros proyectos de
  <a href="{{ urlAngular }}" class="angular">Angular</a>.</p>

<p>En <a href="{{ urlIT }}" class="IT">IT Academy</a> hemos aprendido las últimas tendencias usadas en el
  desarollo <span class="pinky">Front End</span>, <a href="{{ urlTs }}" class="bold">TypeScript</a>,
  <a href="{{ urlECMA6 }}" class="bold">ECMAScript 6</a>, etc... y hemos sido capaces de desarollar
  <span class="bold">aplicaciones web</span> de última generación, destinadas principalmente al uso profesional y empresarial peró
  también para uso personal o <span class="bold">didáctico</span>, éste último sería nuestro caso.</p>

<p>Desde aquí dar las gracias a todo el equipo de <a href="{{ urlIT }}" class="IT">IT Academy</a> por su trabajo y dedicación
   y también a los <span class="bold">alumnos</span>. Puedes aprender todo esto por tu cuenta, aunque, el hecho de implicarte en algo, por ejemplo, seguir el itinerario,
   marca la diferencia. Sin ellos, esto que estás viendo no hubiera sido posible.</p>
<br><br><br>
<h3>Tecnologías</h3>
  <div class="row">
    <div class="col s12 m12 l12 center tecnologies">
      <a href="{{ urlHTML5 }}"><img src="assets/image/html5_logo.png" alt="HTML5"></a>
      <a href="{{ urlCSS3 }}"><img src="assets/image/css3_logo.png" alt="CSS3"></a>
      <a href="{{ urlMaterialCSS }}"><img src="assets/image/materialcss_logo.png" alt="MaterializeCSS"></a>
      <a href="{{ urlAngular }}"><img src="assets/image/angular_logo.png" alt="Angular"></a>
      <a href="{{ urlTs }}"><img src="assets/image/typescript_logo.png" alt="TypeScript"></a>
      <a href="{{ urlECMA6 }}"><img src="assets/image/ecma6_logo.png" alt="ECMA6"></a>
      <a href="{{ urlNode }}"><img src="assets/image/node_logo.jpg" alt="Node.js"></a>
    </div>
  </div>
<br>
  <div class="signature">Att. <span class="bold">Sergi Martínez</span></div>
