.ngPagination{
  margin-top: 50px;
}
p {
  padding: 0px 0px 5px  0px;
  width: 80%;
  margin: 15% auto 8% auto;
  font-size: 1.2em;
  border-bottom: 2px solid #eee;
  color: #0000A0;
  font-weight: bold;
}

.shopCart{
  padding-left: 10px;
}


h5 {
margin-top: 30px;
font-size: 1.3em;
font-weight: bold;
}

.red {

  background-color: red;
}

.blue{
  background-color: blue;
}

.hoverable img {
    border-radius: 10px 10px 0px 0px;
}

.hoverable img:hover {
    opacity: 0.7;
}

.card {
  width: 90%;
  border-radius: 10px 10px 0px 0px;
  margin: 0px auto 15px auto;
  min-height:350px;
  position: relative;
}

.card img{

height: 80%;
}

.card:hover {
  cursor:pointer;
}

.card-action {
  font-weight: bold;
  text-align: center;
}

.card-action a {
color: #ff4081!important;
}

.card-action a:hover {
color: #B22C5A!important;
}

@media only screen and (max-width : 668px) {
.card {
      width:85%;
  }
}

.book-author {
height: 30px;
}

/* Pagination CSS - /deep/ to target into Ngx Component (Angular's view encapsulation) */

.ngPages /deep/ .ngx-pagination .current {
    background: #FF4081;
    border-radius: 3px;
    color:black;
    margin-top: 30px;

  }

  .ngPages /deep/ .ngx-pagination  {
    text-align: center;
    }


.ngPagesMobile /deep/ .ngx-pagination {
  display: none;
  }


@media only screen and (max-width : 992px) {

  .ngPagesMobile /deep/ .ngx-pagination {
    display: block;
    margin-top:0px;
    text-align: center;

    }

  .ngPagesMobile /deep/ .ngx-pagination .current {
      background: #FF4081;
      border-radius: 3px;
      color:black;
      margin-top:0px;
      margin-bottom: 25px;

    }

}

@media only screen and (max-width : 402px) {
  p {
    margin: 10% auto 5% auto;
  }

  .card-action{
    text-align: center;
    font-size: .7em;
    padding-left: 0px;
  }

  .card-action a {
    padding: 0px;
    margin:0px;
  }

  .card {
    min-height:375px;
  }

}
