<div class="row">
  <div scrolling class="col s12 m2 l1 fixed" id="fixed">

    <ul class="mainList">
      <li><a href="#">{{ navTitles[0] }}</a></li>
      <li>
        <ul class="nestedList">
           <li *ngFor="let Gender of Genders"><a href="#{{Gender}}">{{Gender}}</a></li>
        </ul>
       </li>
     </ul>

     <ul class="mainList">
       <li><a href="#">{{ navTitles[1] }}</a></li>
       <li>
         <ul class="nestedList">
            <li *ngFor="let Format of Formats; let i = index"
                [ngClass]="{'long': Format[i] = 'Tapa Blanda'}"> <!-- Apply "long" Class to Format = 'Tapa Blanda' NOT WORKING -->
                <a href="#{{Format}}">{{Format}}</a></li>
         </ul>
        </li>
      </ul>

      <ul class="mainList">
        <li><a href="#">{{ navTitles[2] }}</a></li>
        <li>
          <ul class="nestedList">
             <li *ngFor="let Language of Languages"><a href="#{{Language}}">{{Language}}</a></li>
          </ul>
         </li>
       </ul>

  </div>
</div>
