<h2>Catálogo</h2>

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- book Title Column -->
    <ng-container matColumnDef="bookTitle">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Título</mat-header-cell>
      <mat-cell *matCellDef="let row" class="bold">{{row.bookTitle}}</mat-cell>
    </ng-container>

    <!-- book Author Column -->
    <ng-container matColumnDef="bookAuthor">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Autor/a</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.bookAuthor}}</mat-cell>
    </ng-container>

    <!-- book Gender Column -->
    <ng-container matColumnDef="bookGender">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Género</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.bookGender}}</mat-cell>
    </ng-container>

    <!-- book Price Column -->
    <ng-container matColumnDef="bookPrice">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
      <mat-cell *matCellDef="let row" class="bold">{{row.bookPrice}} €</mat-cell>
    </ng-container>

    <!-- book Likes Column -->
    <ng-container matColumnDef="bookLikes">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Likes</mat-header-cell>
      <mat-cell *matCellDef="let row" class="likes">{{row.bookLikes}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    >
  </mat-paginator>
</div>
